body{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; 
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: darkorange;
}
/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 30rem;
    background: yellow;
    border: 0;
    padding-left: 20rem;
    padding-right: 20rem;
    color: firebrick;
}
.dark{
    padding: 15rem;
    background-color: bisque;
    color: darkgoldenrod;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

/*header*/
header{
    background: yellow;
    color: coral;
    padding-top: 30rem;
    min-height: 70rem;
    border-bottom: red 3rem solid;
}
.button{
    font-weight: 500rem;
    padding: 12rem 12rem;
    background-color: aqua;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: .3s;
}